* {
    font-family: 'Lato', sans-serif;
}

body a:hover {
    text-decoration: none;
}

.navbar {
    /* background-color: #005B9A !important; */
    background: rgb(0, 91, 154);
    background: linear-gradient(153deg, rgba(0, 91, 154, 1) 0%, rgba(0, 104, 255, 1) 90%);
}

a.nav-link {
    font-size: 12px !important;
    color: #fff;
}

/* Set the border color */
.custom-toggler.navbar-toggler {
    border-color: lightgreen;
}

/* Setting the stroke to green using rgb values (0, 128, 0) */
.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.dropdown-item {
    margin-left: 10px !important;
}

/* Breadcrumb */
.breadcrumb {
    /* background-color: #fff !important; */
}

/* Style to change breadcrumb separator  */
.breadcrumb-item+.breadcrumb-item::before {
    content: ">";
    color: gray;
}


/* Card Header dan Detail */
.card {
    margin-left: 1em;
    margin-right: 1em;
}

.card .card-header {
    font-size: 14px;
}

.form-group {
    margin-bottom: 10px;
}

/* Section untuk SP depan */
section {
    margin-left: 1em;
    margin-right: 1em;
}

section .sp {
    font-size: 12px;
}



.home-menu {
    display: none;
}


/* Other Style */
.border-gray {
    border-color: #b0b0b0;
}

.h-title-color {
    color: #317eac;
}

/* Desktop */
@media (min-width: 992px) {

    .home-menu {
        display: block;
    }

    .card .card-header {
        font-weight: 400;
    }

    .form-group {
        margin-bottom: 10px;
    }


}